
/* ##############################[[Main]]##################################### */
/* 검색 버튼 */

body {
  box-sizing: border-box;
  width: 100%;
  color: #282423;
}

#logo-icon {
  margin-left: 8rem;
  margin-right: 0;
  margin-top: 1rem;
  padding: 0;
  font-size: 5rem;
  color: #b29d82;
  background-color: transparent;
  border: none;
}

.search-btn {
  font-size: 1.3rem;
  color: rgb(51, 51, 51);
  margin: 0 0.1em;
  background-color: transparent;
  border: none;
}

/* ************검색창************* */
#search-container {
  border: 3px solid #ead3b1;
  margin-top: 2rem;
  margin-right: 2rem;
  padding-right: 0.8rem;
  width: 420px;
  height: 48px;
  border-radius: 30px;
}

.search-input {
  float: left;
  width: 75%;
  height: 100%;
  padding: 0;
  margin-left: 45px;
  border: none;
  font-size: 14px;
  line-height: 22px;
}
/* ***************************** */


.navbar-brand {
  margin: 0;
  padding: 0;
}

/* 장바구니, 쪽지, 로그인 버튼 */
#nav-icon {
  font-size: 1.5rem;
  color: rgb(51, 51, 51);
  margin: 0;
  background-color: transparent;
  border: none;
  padding: 0;
}

#nav-btn {
  padding: 0;
  margin: 1.5rem; /* 장바구니, 쪽지, 로그인 버튼 간격 조절 */
}

/* 장바구니, 쪽지, 로그인 버튼 div */
.nav-btn-container {
  margin-left: 3rem;
  margin-top: 2rem;
}

.first-nav {
  margin-top: 0.7rem;
  margin-bottom: 1rem;
}

.second-nav {
  border: 1px solid #e0e0e0;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 0.2rem;
}

.nav-menu {
  margin-right: 3rem;
}

/* 이벤트alert */
#event-alert {
  text-align: center;
}

/* *********** [[탭애니메이션]] ************* */
.start {
  opacity: 0;
}
.end {
  opacity: 1;
  transition: opacity 0.5s;
}




/* *******************[[ Footer ]]****************** */

footer {
  display: block;
  background: #f9f9f6;
  border-top: 1px solid #e6e6e6;
}

.foot-container {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px 20px 15px;
}

.foot-row1 {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  padding: 40px 0 0 0;
}

.foot-span {
  display: block;
  margin-bottom: 16px;
  font-weight: bold;
  color: #504846;
}

.foot-btnbox {
  background: transparent;
  color: #c5875d;
  border: 1px solid #c5875d;

  margin: 0 16px 16px 0;
  display: inline-block;
  text-align: center;
  border-radius: 3px;
  padding: 0 16px;
  height: 38px;
  line-height: 38px;
  font-size: 13px;
  font-weight: 500;
  width: inherit;
  cursor: pointer;
  transition: background-color 0.3s;
}

.foot-info {
  font-size: 13px;
  color: #83786f;
  line-height: 1.8;
  margin: 0;
}

.email {
  color: #c5875d;
  font-weight: 600;
  cursor: pointer;
}

/* *** */

.foot-row2 {
  /* color: #978c87; */
  padding-top: 40px;
  margin-bottom: 20px;
  display: flex;
  align-items: flex-end;
}



/* ###################################################################### */




/* ##############################[[Notice]]##################################### */

.list-wrapper {
  width: 1020px;
  height: 100%;
  margin-top: 10px;
}


table {
  border-top: 2px solid #b29d82;
  /* width: 1020px; */
  display: table;
  width: 100%;
  border-collapse: separate;
  text-indent: initial;
  margin-top: 20px;
  margin-bottom: 15px;
}

th {
  background: #f7f7f5;
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 20px;
}

td {
  height: 50px;
  border-bottom: 1px solid #e6e6e6;
  padding: 8px 20px;
}

#list-title {
  cursor: pointer;
}

#td-title {
  font-size: 18px;
  font-weight: bold;
}

#td-content {
  height: 450px;
  vertical-align: top;
  padding: 20px;
  line-height: 30px;
  font-size: 15px;
}

.m_title {
  font-weight: 700;
}

.m_label {
  font-weight: 600;
}




/* ############################################################################# */